
.main {
    display: flex;
    justify-content: center;
}
.container {
    border-radius: 10%;
    width: 85%;
    background:  rgba(20, 20, 20, 0.1);
    min-height: 600px;
    min-width: 700px;
    
}

.cards {
    display: grid;
    grid-template-columns:repeat(4, minmax(auto, 230px));
    grid-gap: 40px;
    justify-content: center;
    padding: 40px 0;
}

.navbar {
    height: 70px;
    background: radial-gradient(#38148b,#11052C) ;
    margin-bottom: 15px;
}
.form {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 800px;
    top: 33px;
    left: 380px;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 20px;
}

.layingdog {
    position: absolute;
    width: 12%;
    height: 12%;
    top: 6px;
    left: 25px;
}

.title {
    color: white;
    position: absolute;
    left: 190px;
    top: 16px;
}
.title2 {
    color: white;
    position: absolute;
    left: 567px;
    top: 8px;
}
.title3 {
    color: white;
    position: absolute;
    right: 418px;
    top: 8px;
}

.addButton {
    position: fixed;
    top: 25px;
    right: 15px;
    color: white;
    text-decoration: none;
}
.addpaw {
    width: 80%;
    height: 80%;
}
.addpaw:hover {
    transform: scale(1.1);
}
.searchbutton {
    margin-right: 25px;
}

.loading {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 380px;
    top: 230px;
    animation: animate 2s infinite;
    opacity: 0%;

}
.loading2 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 440px;
    top: 200px;
    animation: animate 2s infinite;
    animation-delay: 0.2s;
    opacity: 0%;

}
.loading3 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 500px;
    top: 230px;
    animation: animate 2s infinite;
    animation-delay: 0.4s;
    opacity: 0%;
}

.loading4 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 560px;
    top: 200px;
    animation: animate 2s infinite;
    animation-delay: 0.6s;
    opacity: 0%;
}
.loading5 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 620px;
    top: 230px;
    animation: animate 2s infinite;
    animation-delay: 0.8s;
    opacity: 0%;
}
.loading6 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 680px;
    top: 200px;
    animation: animate 2s infinite;
    animation-delay: 1s;
    opacity: 0%;
}
.loading7 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 740px;
    top: 230px;
    animation: animate 2s infinite;
    animation-delay: 1.2s;
    opacity: 0%;
}
.loading8 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 800px;
    top: 200px;
    animation: animate 2s infinite;
    animation-delay: 1.4s;
    opacity: 0%;
}
.loading9 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 860px;
    top: 230px;
    animation: animate 2s infinite;
    animation-delay: 1.6s;
    opacity: 0%;
}
.loading10 {
position: absolute;
    width: 50px;
    height: 50px;
    left: 920px;
    top: 200px;
    animation: animate 2s infinite;
    animation-delay: 1.8s;
    opacity: 0%;
}
@keyframes animate {
1%
{
    opacity: 100%;
    
}
50%{
    opacity: 0%;
}

99% {
    opacity: 0%;
}
}

